# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment variables / secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
